@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&subset=cyrillic');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;}
html, body {
	height: 100%;
	min-width: 320px;
}

a {
	cursor: pointer;
}

.barbora-shop-ee {
    position: relative;
	width: 100%;
    min-height: 100%;
	display: flex;
	flex-wrap: wrap;
    z-index: 1;
	color: #FFF;
	overflow: hidden;
	font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana;
	background-image: linear-gradient(#bed7f9, #fafcfe);
	
}

.barbora-shop-ee:before {
    position: absolute;
	content:'';
	width: 100%;
    min-height: 100%;
	z-index: 1;
	background: url(../img/barbora-car.png) no-repeat center bottom;
	background-size: 80% auto;
}

.barbora-shop-ee h1 {
    position: relative;
	z-index: 2;
	width: 100%;
	padding-top: 10%;
	text-align: center;
	font-size: 5.0vw;
	line-height: 1.1;
	align-self: flex-start;
	color: #4475ba;
}

.barbora-shop-ee.motion h1 {
    padding-top: 0;
	align-self: center;
}

.barbora-shop-ee h1 span.be-happy {
    display: block;
	font-size: 4.0vw;
	color: #FFF;
}

.barbora-shop-ee.motion:before {
    display: none;
}

.barbora-shop-ee.motion span.truck {
    position: absolute;
	display: block;
	bottom: 0;
	width: 600px;
    height: 300px;
	min-height: auto;
	z-index: 3;
	background: url(../img/truck.svg) no-repeat;
	background-size: 600px auto;
	animation: truck-move 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes truck-move {
    from {left: -600px;}
    to {left: 100%;}
}

.barbora-shop-ee.motion span.sign {
    position: absolute;
	content:'';
	bottom: 0;
	right: -180px;
	width: 180px;
    height: 225px;
	z-index: 4;
	background: url(../img/road-sign.svg) no-repeat;
	background-size: 180px auto;
	animation: sign-move 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes sign-move {
    from {right: -180px;}
    to {right: 100%;}
}

.barbora-shop-ee.motion span.bird-bl,
.barbora-shop-ee.motion span.bird-gr,
.barbora-shop-ee.motion span.bird-rd {
    position: absolute;
	z-index: 3;
	width: 60px;
	display: block;
}

.barbora-shop-ee.motion span.bird-bl {
    left: 15%;
	height: 45px;
	background: url(../img/bird1.svg) no-repeat;
	background-size: 60px auto;
	animation: bird1-move 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes bird1-move {
    0% {top: 20%;}
    50% {top: 25%;}
    100% {top: 20%;}
}

.barbora-shop-ee.motion span.bird-gr {
    left: 50%;
	height: 40px;
	background: url(../img/bird2.svg) no-repeat;
	background-size: 60px auto;
	animation: bird2-move 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes bird2-move {
    0% {top: 25%;}
    50% {top: 20%;}
    100% {top: 25%;}
}

.barbora-shop-ee.motion span.bird-rd {
    left: 85%;
	height: 40px;
	background: url(../img/bird3.svg) no-repeat;
	background-size: 60px auto;
	animation: bird1-move 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.barbora-shop-ee.motion span.grass,
.barbora-shop-ee.motion span.grass-bg,
.barbora-shop-ee.motion span.grass-light {
    position: absolute;
	bottom: 0;
}

.barbora-shop-ee.motion span.grass {
    display: block;
	width: 340px;
	height: 225px;
	z-index: 5;
	background: url(../img/grass-lf-front.svg) no-repeat;
	background-size: 340px auto;
	animation: grass-lf-move 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes grass-lf-move {
    from {right: -340px;}
    to {right: 100%;}
}

.barbora-shop-ee.motion span.grass-bg {
    display: block;
	width: 260px;
	height: 152px;
	z-index: 1;
	background: url(../img/grass-back.svg) no-repeat;
	background-size: 260px auto;
	animation: grass-bg-move 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes grass-bg-move {
    from {right: -260px;}
    to {right: 100%;}
}

.barbora-shop-ee.motion span.grass-light {
    display: block;
	z-index: 0;
	width: 160px;
	height: 134px;
	opacity: 0.5;
	background: url(../img/grass-rg-front.svg) no-repeat;
	background-size: 160px auto;
	animation: grass-zzz-move 16s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes grass-zzz-move {
    from {right: -160px;}
    to {right: 100%;}
}


@media screen and (max-width: 600px) {
	.barbora-shop-ee h1 {
		font-size: 8.0vw;
	}
	
	.barbora-shop-ee h1 span.be-happy {
		font-size: 7.0vw;
	}
	
	.barbora-shop-ee.motion span.bird-bl {
		left: 10%;
	}
	
	.barbora-shop-ee.motion span.bird-gr {
		left: 40%;
	}
	
	.barbora-shop-ee.motion span.bird-rd {
		left: inherit;
		right: 10%;
	}
	
	.barbora-shop-ee.motion span.truck {
		width: 300px;
		height: 155px;
		background-size: 310px auto;
	}

	@keyframes truck-move {
		from {left: -300px;}
		to {left: 100%;}
	}
	
	.barbora-shop-ee.motion span.sign {
		right: -90px;
		width: 90px;
		height: 112px;
		background-size: 90px auto;
	}

	@keyframes sign-move {
		from {right: -90px;}
		to {right: 100%;}
	}
	
	.barbora-shop-ee.motion span.grass {
		width: 170px;
		height: 113px;
		background-size: 170px auto;
	}

	@keyframes grass-lf-move {
		from {right: -170px;}
		to {right: 100%;}
	}
	
	.barbora-shop-ee.motion span.grass-bg {
		width: 130px;
		height: 76px;
		background-size: 130px auto;
	}

	@keyframes grass-bg-move {
		from {right: -130px;}
		to {right: 100%;}
	}
	
	.barbora-shop-ee.motion span.grass-light {
		width: 80px;
		height: 65px;
		background-size: 80px auto;
	}

	@keyframes grass-zzz-move {
		from {right: -80px;}
		to {right: 100%;}
	}
}