@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;}

html, body {
	height: 100%;
	background: #070b0b;
}

a {
	cursor: pointer;
}

.tutorials {
	width: 100%;
	min-width: 320px;
	font-family: 'PT Sans', Helvetica, Arial, Tahoma, Verdana;
	color: #576061;
	background: #070b0b;
}

.tutorials .container-fluid {
	margin: 0 auto;
	max-width: 1300px;
}

.tutorials .container-fluid .row .tut-nav {
	padding: 20px 10px 10px 10px;
}

.tutorials .container-fluid .row .tut-nav .btn-group {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #171d20;
}

.tutorials .container-fluid .row .tut-nav .btn-group button.btn {
	position: relative;
	flex: 0;
	height: 40px;
	padding: 0 20px 0 20px;
	font-size: 16px;
	color: #3e7075;
	border: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid #171d20;
	border-radius: 0;
}

.tutorials .container-fluid .row .tut-nav .btn-group button.btn:hover {
	color: #FFF;
}

.tutorials .container-fluid .row .tut-nav .btn-group button.active {
	color: #FFF;
	border: 1px solid #171d20;
	border-bottom: 1px solid #070b0b;
}

.tutorials .container-fluid .row .single {
	padding: 10px;
}

.tutorials .container-fluid .row .single .card {
	height: 382px;
	border-radius: 0;
	border: none;
	background: #121c1d;
}

.tutorials .container-fluid .row .single .card .card-img-top {
	width: 100%;
	height: 232px;
}

.tutorials .container-fluid .row .single .card .card-body {
	position: relative;
	padding: 15px 20px 50px 20px;
}

.tutorials .container-fluid .row .single .card .card-body h5.card-title,
.tutorials .container-fluid .row .single .card .card-body p.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tutorials .container-fluid .row .single .card .card-body h5.card-title {
	margin: 0;
	min-height: 26px;
	max-height: 40px;
	font-size: 17px;
	line-height: 1.0;
	color: #FFF;
}

.tutorials .container-fluid .row .single .card .card-body p.card-text {
	height: 40px;
	font-size: 14px;
	line-height: 1.3;
}

.tutorials .container-fluid .row .single .card .card-body a.btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	min-width: 100px;
	height: 30px;
	padding: 3px 10px;
	font-size: 15px;
	font-weight: 700;
	color: #070b0b;
	background: #e2b715;
}

.tutorials .container-fluid .row .single .card .card-body a:hover.btn {
	background: #eec116;
}

.tutorials .container-fluid .row .single .card .card-body a:active.btn {
	background: #d7ae14;
}

.tutorials .container-fluid .row .paging {
	display: flex;
	padding: 25px 10px;
	justify-content: center;
}

.tutorials .container-fluid .row .paging nav ul.pagination li.page-item {
	padding: 0 4px;
	font-size: 14px;
}

.tutorials .container-fluid .row .paging nav ul.pagination li.page-item a.page-link {
	width: 20px;
	height: 20px;
	padding: 2px 0 0 0;
	text-align: center;
	letter-spacing: -1px;
	color: #576061;
	border: none; 
	background: #171d20;
	border-radius: 3px;
}

.tutorials .container-fluid .row .paging nav ul.pagination li.page-item a:hover.page-link,
.tutorials .container-fluid .row .paging nav ul.pagination li.page-item a.active {
	color: #000; 
	background: #FFF;
}

.tutorials .container-fluid .row .details {
	padding: 10px;
}

.tutorials .container-fluid .row .details h5 {
	margin: 0;
	position: relative;
	padding: 15px 0 25px 40px;
	font-size: 24px;
	line-height: 1;
	color: #FFF;
}

.tutorials .container-fluid .row .details h5 a.back {
	position: absolute;
	left: 0;
	top: 19px;
	width: 16px;
	height: 16px;
	padding-top: 7px;
}

.tutorials .container-fluid .row .details h5 a.back i.arrow {
	position: relative;
	display: block;
	width: 16px;
	height: 2px;
	background: #FFF;
}

.tutorials .container-fluid .row .details h5 a.back i.arrow:before,
.tutorials .container-fluid .row .details h5 a.back i.arrow:after {
	position: absolute;
	display: block;
	width: 10px;
	height: 2px;
	content:'';
	left: -1px;
	background: #FFF;
}

.tutorials .container-fluid .row .details h5 a.back i.arrow:before {
	top: 3px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tutorials .container-fluid .row .details h5 a.back i.arrow:after {
	top: -3px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.tutorials .container-fluid .row .details .video {
	margin-bottom: 26px;
	width: 100%;
	height: 660px;
}

.tutorials .container-fluid .row .details p {
	padding: 12px 0;
	font-size: 14px;
	line-height: 1.3;
}

@media screen and (max-width: 1080px) {
	.tutorials .container-fluid .row .single .card {
		height: 342px;
	}

	.tutorials .container-fluid .row .single .card .card-img-top {
		height: 192px;
	}
	
	.tutorials .container-fluid .row .details .video {
		height: 460px;
	}
}

@media screen and (max-width: 920px) {
	.tutorials .container-fluid .row .single .card {
		height: 312px;
	}

	.tutorials .container-fluid .row .single .card .card-img-top {
		height: 162px;
	}
	
	.tutorials .container-fluid .row .details .video {
		height: 360px;
	}
}

@media screen and (max-width: 767px) {
	.tutorials .container-fluid .row .single .card {
		height: 355px;
	}

	.tutorials .container-fluid .row .single .card .card-img-top {
		height: 205px;
	}
	
	.tutorials .container-fluid .row .details .video {
		height: 300px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 576px) {
	.tutorials .container-fluid .row .single .card {
		height: 305px;
	}

	.tutorials .container-fluid .row .single .card .card-img-top {
		height: 155px;
	}
	
	.tutorials .container-fluid .row .details .video {
		height: 250px;
	}
}

@media screen and (max-width: 375px) {
	.tutorials .container-fluid .row .single .card {
		height: 245px;
	}

	.tutorials .container-fluid .row .single .card .card-img-top {
		height: 95px;
	}
	
	.tutorials .container-fluid .row .details .video {
		height: 200px;
	}
}