@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic-ext,greek');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;}

html, body {
	height: 100%;
	min-width: 320px;
	font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana;
	color: #FFF;
	font-size: 14px;
	background: #0c0e15;
}

a {
	cursor: pointer;
	color: #FFF;
}

.wrap {
	overflow: hidden;
}

header, nav {
	position: fixed;
	width: 100%;
	left: 0;
	display: block;
	background: #12141f;
}

header {
	z-index: 11;
	top: 0;
	padding: 0 15px;
	height: 40px;
}

header .top-nav {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

header .top-nav .row .logo {
	padding: 13px 0 0 0;
}

header .top-nav .row .logo a {
	display: block;
	width: 98px;
	height: 13px;
	background: url('../img/antescan-logo.svg') no-repeat;
	background-size: 98px 13px;
}

header .top-nav .row .wallet {
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

header .top-nav .row .wallet span.address {
	display: block;
	padding: 11px 5px 0 0;
	font-size: 13px;
	color: #6e717f;
}

header .top-nav .row .wallet button.burger {
	display: block;
	margin-right: -10px;
	position: relative;
	width: 40px;
	height: 40px;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
}
	
header .top-nav .row .wallet button.burger i.bar,
header .top-nav .row .wallet button.burger i.bar:before,
header .top-nav .row .wallet button.burger i.bar:after	{
	position: absolute;
	display: block;
	width: 19px;
	height: 2px;
	content:'';
	background: rgba(255,255,255,1);
}
	
header .top-nav .row .wallet button.burger i.bar {
	top: 19px;
	left: 10px;
}
	
header .top-nav .row .wallet button.burger.expand i.bar {
	background: rgba(255,255,255,0);
	transition: background 0.3s ease-in-out;
}
	
header .top-nav .row .wallet button.burger i.bar:before {
	top: -6px;
}
	
header .top-nav .row .wallet button.burger i.bar:after {
	top: 6px;
}
	
header .top-nav .row .wallet button.burger.expand i.bar:before {
	top: 0;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out;
}
	
header .top-nav .row .wallet button.burger.expand i.bar:after {
	top: 0;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in-out;
}

header .top-nav .row .wallet .floating-nav {
	position: fixed;
	display: block;
	top: 40px;
	right: -100%;
	z-index: 11;
	width: 100%;
	height: calc(100% - 40px);
	padding: 15px;
	background-image: -webkit-gradient(linear,center top,center bottom,from(#131722),to(#1e2235));
    background-image: -webkit-linear-gradient(#131722,#1e2235);
    background-image: linear-gradient(#131722,#1e2235);
}

header .top-nav .row .wallet .floating-nav.show-nav {
	animation: float-nav 0.7s ease-in-out;
	right: 0;
	opacity: 1;
}

@-webkit-keyframes float-nav {
	0% {right: -100%; opacity: 0;}
	75% {opacity: 1;}
	100% {right: 0;}
}

@keyframes float-nav {
	0% {right: -100%; opacity: 0;}
	75% {opacity: 1;}
	100% {right: 0;}
}

header .top-nav .row .wallet .floating-nav .set-currency,
header .top-nav .row .wallet .floating-nav .social,
header .top-nav .row .wallet .floating-nav .donate {
	display: table;
	width: 100%;
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

header .top-nav .row .wallet .floating-nav .set-currency label,
header .top-nav .row .wallet .floating-nav .social label,
header .top-nav .row .wallet .floating-nav .donate label,
header .top-nav .row .wallet .floating-nav .set-currency select {
	display: block;
	width: 100%;
}

header .top-nav .row .wallet .floating-nav .set-currency label,
header .top-nav .row .wallet .floating-nav .social label,
header .top-nav .row .wallet .floating-nav .donate label {
	padding-bottom: 5px;
	font-size: 12px;
	color: #424553;
	text-transform: uppercase;
}

header .top-nav .row .wallet .floating-nav .set-currency select.form-control {
	height: 30px;
	padding: 0;
	font-size: 14px;
	color: #FFF;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}

header .top-nav .row .wallet .floating-nav .social a {
	display: flex;
	float: left;
	margin: 0 15px 0 0;
	width: 100px;
	height: 100px;
	align-items: center;
	outline: none;
	justify-content: center;
	border-radius: 3px;
	border: 1px solid rgba(66,69,83,0.2);
}

header .top-nav .row .wallet .floating-nav .social a i.icon-twitter,
header .top-nav .row .wallet .floating-nav .social a i.icon-telegram {
	display: block;
	width: 50px;
	height: 50px;
}

header .top-nav .row .wallet .floating-nav .social a i.icon-twitter {
	background: url('../img/twitter.svg') no-repeat center;
	background-size: 50px auto;
}

header .top-nav .row .wallet .floating-nav .social a i.icon-telegram {
	background: url('../img/telegram.svg') no-repeat center;
	background-size: 50px auto;
}

header .top-nav .row .wallet .floating-nav .donate span.trx {
	display: block;
	padding: 0 0 10px 0;
	font-size: 12px;
}

header .top-nav .row .wallet .floating-nav .donate address {
	display: block;
	width: 100%;
	height: 42px;
	text-align: center;
	font-size: 12px;
	padding: 12px 0 0 0;
	color: #1af135;
	background: rgba(66,69,83,0.2);
	border-radius: 3px;
}

nav {
	z-index: 10;
	bottom: 0;
	height: 70px;
}

nav .navigation {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

nav .navigation .row .col-12 {
	position: relative;
	padding: 0;
}

nav .navigation .row .col-12 a.add-btn {
	position: absolute;
	z-index: 2;
	top: -26px;
	left: calc(50% - 18px);
	width: 36px;
	height: 36px;
	text-decoration: none;
	outline: none;
	background: #0cc127;
	border-radius: 50%;
}

nav .navigation .row .col-12 a:active.add-btn {
	background: #0ecf2b;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus {
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:before,
nav .navigation .row .col-12 a.add-btn i.icon-plus:after {
	position: absolute;
	content:'';
	display: block;
	background: #FFF;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:before {
	left: 0;
	top: 9px;
	width: 20px;
	height: 2px;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:after {
	left: 9px;
	top: 0;
	width: 2px;
	height: 20px;
}

nav .navigation .row .col-12 ul {
	margin: 0;
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	list-style-type: none;
}

nav .navigation .row .col-12 ul li {
	width: 16.66%;
}

nav .navigation .row .col-12 ul li a {
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
	padding-top: 44px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	outline: none;
	color: #6e717f;
}

nav .navigation .row .col-12 ul li a:hover,
nav .navigation .row .col-12 ul li a.active {
	color: #FFF;
	transition: color 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a span.notification {
	position: absolute;
	left: calc(50% + 6px);
	top: 6px;
	display: block;
	width: 16px;
	height: 16px;
	background: #f81f1f;
	border-radius: 50%;
}

nav .navigation .row .col-12 ul li a span.notification span.amount {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 16px;
	height: 16px;
	padding: 3px 0 0 0;
	color: #FFF;
	text-align: center;
	line-height: 1;
	font-size: 10px;
}

nav .navigation .row .col-12 ul li a i {
	position: absolute;
	left: calc(50% - 12px);
	top: 14px;
	display: block;
	width: 24px;
	height: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-home {
	background: url('../img/icon-home.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-home,
nav .navigation .row .col-12 ul li a:hover i.icon-home {
	background: url('../img/icon-home-white.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-divs {
	background: url('../img/icon-wallet.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-divs,
nav .navigation .row .col-12 ul li a:hover i.icon-divs {
	background: url('../img/icon-wallet-white.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-goals {
	background: url('../img/icon-award.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-goals,
nav .navigation .row .col-12 ul li a:hover i.icon-goals {
	background: url('../img/icon-award-white.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-mining {
	background: url('../img/icon-coins.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-mining,
nav .navigation .row .col-12 ul li a:hover i.icon-mining {
	background: url('../img/icon-coins-white.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-platform {
	background: url('../img/icon-analytics.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-platform,
nav .navigation .row .col-12 ul li a:hover i.icon-platform {
	background: url('../img/icon-analytics-white.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-news {
	background: url('../img/icon-news.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-news,
nav .navigation .row .col-12 ul li a:hover i.icon-news {
	background: url('../img/icon-news-white.svg') no-repeat center;
	background-size: 24px;
}

section {
	padding: 55px 15px 85px 15px;
}

section .content {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

section .content .row {
	padding-bottom: 15px;
}

section .content .row .net-worth,
section .content .row .earnings {
	position: relative;
	display: table;
	padding: 10px 15px;
	border-radius: 3px;
}

section .content .row .net-worth {
	background-image: -webkit-gradient(linear,center top,center bottom,from(#131722),to(#0f864c));
    background-image: -webkit-linear-gradient(#131722,#0f864c);
    background-image: linear-gradient(#131722,#0f864c);
}

section .content .row .net-worth:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	content:'';
	width: 100%;
	height: 100%;
	background: url('../img/texture-light.svg') repeat 50%;
    background-size: 60px auto;
	border-radius: 3;
	opacity: 0.1;
}

section .content .row .net-worth span.info {
	position: absolute;
    z-index: 4;
    top: 15px;
    right: 10px;
    display: block;
    width: 16px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
	line-height: 1;
    color: #333;
    font-weight: 700;
    font-family: Times New Roman;
    font-style: italic;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: #FFF;
}

section .content .row .net-worth span.amount,
section .content .row .net-worth span.total-usd,
section .content .row .net-worth span.percent {
	position: relative;
	float: left;
	z-index: 2;
}

section .content .row .net-worth span.amount {
	width: 100%;
	padding: 13px 0 18px 0;
	text-align: center;
	font-size: 42px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
}

section .content .row .net-worth span.amount i.icon-trx {
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin: 18px 3px 0 0;
	width: 16px;
	height: 17px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .net-worth span.total-usd,
section .content .row .net-worth span.percent {
	width: 50%;
	padding: 0 0 4px 0;
	font-weight: 600;
	font-size: 14px;
}

section .content .row .net-worth span.total-usd {
	color: #1af135;
}

section .content .row .net-worth span.percent span.up,
section .content .row .net-worth span.percent span.down {
	display: block;
	float: right;
	height: 21px;
	min-width: 44px;
	padding: 0 4px;
	text-align: center;
	border-radius: 2px;
}

section .content .row .net-worth span.percent span.up {
	color: #292628;
	background: #1af135;
}

section .content .row .net-worth span.percent span.down {
	color: #FFF;
	background: #f81f1f;
}

section .content .row .earnings {
	min-height: 70px;
	background-image: -webkit-gradient(linear,center top,center bottom,from(#131722),to(#1e2235));
    background-image: -webkit-linear-gradient(#131722,#1e2235);
    background-image: linear-gradient(#131722,#1e2235);
}

section .content .row .earnings:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	content:'';
	width: 100%;
	height: 100%;
	background: url('../img/icon-trx.svg') no-repeat right -34px;
    background-size: 240px auto;
	border-radius: 3;
	opacity: 0.05;
}

section .content .row .net-worth label,
section .content .row .earnings label {
	position: relative;
	float: left;
	z-index: 2;
	width: 100%;
	padding: 0;
	color: #FFF;
	font-weight: 600;
	font-size: 14px;
}

section .content .row .earnings label {
	color: #5c5e6c;
}

section .content .row .earnings span.amount {
	position: relative;
	float: left;
	z-index: 2;
	width: 50%;
	padding: 4px 0 0 20px;
	color: #FFF;
	font-weight: 600;
	font-size: 16px;
}

section .content .row .earnings span.amount i.icon-trx {
	position: absolute;
	left: 0;
	top: 6px;
	width: 16px;
	height: 17px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .earnings span.amount i.icon-btt {
	position: absolute;
	left: 0;
	top: 7px;
	width: 16px;
	height: 16px;
	background: url('../img/btt-logo-light.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .holdings {
	padding: 5px 0 0 0;
}

section .content .row .holdings .heading {
	display: table;
	width: 100%;
	padding: 6px 0;
	border-bottom: 1px solid #12141f;
}

section .content .row .holdings .heading label {
	float: left;
	text-transform: uppercase;
	color: #424553;
	font-size: 12px;
}

section .content .row .holdings .heading label.coin,
section .content .row .holdings .coin-row .coin {
	width: 25%;
}

section .content .row .holdings .heading label.price,
section .content .row .holdings .coin-row .coin-price {
	width: 25%;
}

section .content .row .holdings .heading label.hold,
section .content .row .holdings .coin-row .coin-holdings {
	width: 50%;
}

section .content .row .holdings .coin-row {
	position: relative;
	display: table;
	width: 100%;
	border-bottom: 1px solid #12141f;
}

section .content .row .holdings .coin-row a.transactions {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: calc(100% - 41px);
	height: 100%;
	cursor: pointer;
	outline: none;
}

section .content .row .holdings .coin-row .coin,
section .content .row .holdings .coin-row .coin-price,
section .content .row .holdings .coin-row .coin-holdings {
	display: block;
	position: relative;
	z-index: 1;
	float: left;
}

section .content .row .holdings .coin-row .coin {
	position: relative;
	padding: 14px 0 14px 30px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

section .content .row .holdings .coin-row .coin i {
	position: absolute;
	left: 0;
	top: 16px;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

section .content .row .holdings .coin-row .coin i.icon-ante {
	background: url('../img/icon-ante.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .holdings .coin-row .coin i.icon-live {
	background: url('../img/icon-live.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .holdings .coin-row .coin-price,
section .content .row .holdings .coin-row .coin-holdings {
	position: relative;
	padding: 10px 0 0 0;
}

section .content .row .holdings .coin-row .coin-price .price,
section .content .row .holdings .coin-row .coin-holdings .price {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	line-height: 1;
}

section .content .row .holdings .coin-row .coin-price .price i.icon-trx,
section .content .row .holdings .coin-row .coin-holdings .price i.icon-trx {
	position: absolute;
	left: 0;
	top: 1px;
	display: block;
	width: 9px;
	height: 10px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: auto 10px;
}

section .content .row .holdings .coin-row .coin-price .percent {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	font-size: 12px;
}

section .content .row .holdings .only-price .coin-price .price,
section .content .row .holdings .only-price .coin-price .percent,
section .content .row .holdings .only-price .coin-holdings .price {
	display: none;
}

section .content .row .holdings .coin-row .coin-holdings .amount {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	font-size: 12px;
	color: #6e717f;
}

section .content .row .holdings .only-price .coin-holdings .amount {
	padding-top: 6px;
}

section .content .row .holdings .coin-row .coin-price .percent.up {
	color: #1af135;
}

section .content .row .holdings .coin-row .coin-price .percent.up:before,
section .content .row .holdings .coin-row .coin-price .percent.down:before {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 0;
	height: 0;
	content:'';
}

section .content .row .holdings .coin-row .coin-price .percent.up:before {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #1af135;
}

section .content .row .holdings .coin-row .coin-price .percent.down:before {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #f81f1f;
}

section .content .row .holdings .coin-row .coin-price .percent.down {
	color: #f81f1f;
}

section .content .row .holdings .coin-row .coin-holdings {
	position: relative;
}

section .content .row .holdings .coin-row .coin-holdings button.add-btn {
	position: absolute;
	top: 11px;
	right: 0;
	display: block;
	width: 41px;
	height: 26px;
	padding: 0;
	text-align: center;
	font-size: 12px;
	color: #6e717f;
	outline: none;
	cursor: pointer;
	background: transparent;
	border: 1px solid #393c48;
	border-radius: 3px;
}

section .content .row .holdings .coin-row .coin-holdings button:active.add-btn {
	color: #6e717f;
	background: #393c48;
	transition: all 0.3s ease-in-out;
}









section .content .row .trans-history {
	padding: 0;
}

section .content .row .trans-history .heading {
	display: table;
	width: 100%;
	padding: 6px 0;
	border-bottom: 1px solid #12141f;
}

section .content .row .trans-history .heading label {
	float: left;
	text-transform: uppercase;
	color: #424553;
	font-size: 12px;
}

section .content .row .trans-history .coin-row {
	display: table;
	width: 100%;
	border-bottom: 1px solid #12141f;
}


section .content .row .trans-history .coin-row .coin i {
	display: block;
	margin: 1px 0 0 6px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

section .content .row .trans-history .coin-row .coin i.icon-ante {
	background: url('../img/icon-ante.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .trans-history .coin-row .coin i.icon-live {
	background: url('../img/icon-live.svg') no-repeat center;
	background-size: 100%;
}


section .content .row .trans-history .heading label.coin,
section .content .row .trans-history .coin-row .coin {
	width: 10%;
}

section .content .row .trans-history .heading label.price,
section .content .row .trans-history .coin-row .coin-price,
section .content .row .trans-history .coin-row .action {
	width: 20%;
}

section .content .row .trans-history .heading label.hold,
section .content .row .trans-history .heading label.dd,
section .content .row .trans-history .coin-row .coin-holdings,
section .content .row .trans-history .coin-row .date {
	width: 25%;
}

section .content .row .trans-history .coin-row .coin,
section .content .row .trans-history .coin-row .coin-price,
section .content .row .trans-history .coin-row .coin-holdings,
section .content .row .trans-history .coin-row .date,
section .content .row .trans-history .coin-row .action {
	display: block;
	position: relative;
	float: left;
	padding: 8px 0;
	color: #6e717f;
}

section .content .row .trans-history .coin-row .coin-price {
	padding-left: 15px;
}

section .content .row .trans-history .coin-row .coin-price i.icon-trx {
	position: absolute;
	left: 0;
	top: 13px;
	display: block;
	width: 9px;
	height: 10px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: auto 10px;
}

section .content .row .trans-history .coin-row .action {
	width: 20%;
	padding: 9px 0 0 0;
}

section .content .row .trans-history .coin-row .action a.edit-btn {
	display: block;
	float: left;
	margin-right: 8px;
	width: 36px;
	height: 20px;
	padding: 1px 0 0 0;
	text-align: center;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background: rgba(110,113,127,1);
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}

section .content .row .trans-history .coin-row .action a.remove-btn {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	padding: 3px;
}

section .content .row .trans-history .coin-row .action a.remove-btn i.icon-remove {
	display: block;
	position: relative;
	width: 14px;
	height: 14px;
}

section .content .row .trans-history .coin-row .action a.remove-btn i.icon-remove:before,
section .content .row .trans-history .coin-row .action a.remove-btn i.icon-remove:after	{
	position: absolute;
	display: block;
	width: 16px;
	height: 2px;
	content:'';
	left: -1px;
	top: 6px;
	background: rgba(110,113,127,1);
}
	
section .content .row .trans-history .coin-row .action a.remove-btn i.icon-remove:before {
	transform: rotate(45deg);
}

section .content .row .trans-history .coin-row .action a.remove-btn i.icon-remove:after {
	transform: rotate(-45deg);
}

section .content .row .trans-history .add {
	padding: 0 0 15px 0;
	display: flex;
	justify-content: center;
}

section .content .row .trans-history button.submit-btn {
	width: 60%;
	height: 36px;
	text-decoration: none;
	outline: none;
	color: #292628;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	background: #0cc127;
	border-radius: 18px;
	border: none;
}

section .content .row .trans-history button:active.submit-btn {
	background: #0ecf2b;
}

section.twitter-widget {
	margin: 0 auto;
	max-width: 576px;
	min-height: 100%;
	padding: 40px 5px 70px 5px;
	background: #292f33;
}

.tooltip .tooltip-inner {
	width: 160px;
	padding: 6px 10px;
	text-align: center;
	font-size: 13px;
	line-height: 1.1;
	font-style: normal;
	font-weight: normal;
	cursor: default;
	color: #333;
	font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana;
	background: #FFF;
	border-radius: 3px;
}

.tooltip .arrow:before {
	border-left-color: #FFF;
}


.modal .modal-dialog {
	margin: 0 auto;
	max-width: 576px;
	height: 100%;
	border: none;
	border-radius: 0;
	background: #0c0e15;
}

.modal .modal-dialog .modal-content {
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header {
	padding: 0;
	background: #12141f;
	border: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
	display: flex;
	width: 100%;
	height: 40px;
	padding: 0 0 0 0;
	align-items: center;
	font-size: 15px;
	justify-content: center;
}

.modal .modal-dialog .modal-content .modal-header button.close {
	position: absolute;
	right: 10px;
	top: 8px;
	margin: 0;
	padding: 0;
	display: flex;
	width: 24px;
	height: 24px;
	opacity: 1;
	outline: none;
}

.modal .modal-dialog .modal-content .modal-header button.close:before,
.modal .modal-dialog .modal-content .modal-header button.close:after {
	position: absolute;
	top: 3px;
	left: 10px;
	display: block;
	width: 2px;
	height: 17px;
	content: '';
	background: #FFF;
}

.modal .modal-dialog .modal-content .modal-header button.close:before {
	transform: rotate(45deg);
}

.modal .modal-dialog .modal-content .modal-header button.close:after {
	transform: rotate(-45deg);
}

.modal .modal-dialog .modal-content .modal-body {
	position: relative;
	width: 100%;
	padding: 0 0 85px 0;
	overflow-y: auto;
	background: #0c0e15;
}

.modal .modal-dialog .modal-content .modal-body .form {
	display: block;
	width: 100%;
	padding: 0 15px;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row {
	padding: 7px 0 5px 0;
	border-bottom: 1px solid #12141f;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row label,
.modal .modal-dialog .modal-content .modal-body .form .form-row span.error-message,
.modal .modal-dialog .modal-content .modal-body .form .form-row input,
.modal .modal-dialog .modal-content .modal-body .form .form-row select {
	display: block;
	width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row label {
	font-size: 12px;
	color: #424553;
	text-transform: uppercase;
}

.modal .modal-dialog .modal-content .modal-body .btn-group {
	width: 100%;
	align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .btn-group .btn,
section .sub-nav .btn-group .btn {
	height: 36px;
	padding-top: 7px;
	font-size: 12px;
	color: #6e717f;
	text-transform: uppercase;
	outline: none;
	box-shadow: none;
	background: #12141f;
	border-bottom: 1px solid #12141f;
}

section .sub-nav .tb-sub-nav .btn {
	width: 33.33%;
}

.modal .modal-dialog .modal-content .modal-body .btn-group .active,
section .sub-nav .btn-group .active {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}

.modal .modal-dialog .modal-content .modal-body .btn-group .btn:first-child,
.modal .modal-dialog .modal-content .modal-body .btn-group .btn:last-child,
section .sub-nav .btn-group .btn:first-child,
section .sub-nav .btn-group .btn:last-child {
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row span.error-message {
	display: none;
	color: #f81f1f;
	font-size: 12px;
}

.modal .modal-dialog .modal-content .modal-body .form .error span.error-message {
	display: block;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row select.form-control,
.modal .modal-dialog .modal-content .modal-body .form .form-row input.input {
	height: 30px;
	padding: 0;
	font-size: 14px;
	color: #FFF;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: center;
	background: #12141f;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav button.submit-btn {
	width: 60%;
	height: 36px;
	text-decoration: none;
	outline: none;
	color: #292628;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	background: #0cc127;
	border-radius: 18px;
	border: none;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav button:active.submit-btn {
	background: #0ecf2b;
}

section.mining {
	position: fixed;
	left: 0;
	top: 40px;
	width: 100%;
	padding: 0;
	height: calc(100% - 110px);
	align-items: center;
	background-image: radial-gradient(circle at bottom center, #12a05b, #131722);
}

section.m-live {
	background-image: radial-gradient(circle at bottom center, #db2c2c, #131722);
}

section.mining .content {
	position: relative;
	z-index: 3;
	margin: 0 auto;
	max-width: 576px;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

section.mining .content .btn-group {
	margin: 0 auto;
	display: flex;
	width: 100%;
	align-items: center;
	background: #12141f;
}

section.mining .content .btn-group .btn {
	height: 36px;
	padding-top: 7px;
	font-size: 12px;
	text-transform: uppercase;
	color: #6e717f;
	outline: none;
	box-shadow: none;
	background: rgba(18,20,31,0.9);
	border-bottom: 1px solid #12141f;
}

section.mining .content .btn-group .btn:first-child {
	color: #FFF;
	border-bottom: 1px solid #0cc127;
}

section.m-live .content .btn-group .btn:first-child {
	color: #6e717f;
	border-bottom: 1px solid #12141f;
}

section.m-live .content .btn-group .btn:last-child {
	color: #FFF;
	border-bottom: 1px solid #ff3131;
}

section.mining .content .btn-group .btn:first-child,
section.mining .content .btn-group .btn:last-child {
	border-radius: 0;
}

section.mining .content .mined-info {
	display: table;
	width: 100%;
	padding: 0 15px 10px 15px;
	font-size: 14px;
}

section.mining .content .mined-info span.col {
	width: 33.33%;
	float: left;
	color: #0cc127;
	padding: 14px 0 0 0;
}

section.m-live .content .mined-info span.col {
	color: #ff3131;
}

section.mining .content .mined-info span.col label {
	display: block;
	font-weight: 600;
	color: #FFF;
}

section.mining .content .mined-info span.col:nth-child(2) {
	text-align: center;
}


section.mining .content .mined-info span.col:last-child {
	text-align: right;
}

section.mining .content h1,
section.mining .content span.countdown,
section.mining .content span.speed {
	display: block;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section.mining .content h1 {
	padding: 5px 0;
	font-size: 24px;
}

section.mining .content span.countdown {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

section.mining .content span.countdown span.group {
	padding: 0 5px;
	font-size: 36px;
}

section.mining .content span.countdown span.group span.sub {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
}

section.mining .content span.speed {
	padding: 10px 0;
	font-size: 14px;
	color: #000;
}

section.mining .content span.speed span.amount {
	color: #0cc127;
	font-weight: 600;
}

section.m-live .content span.speed span.amount {
	color: #ff3131;
}

section.mining .content a.mine {
	margin: 0 auto;
	display: flex;
	width: 40%;
	height: 36px;
	font-size: 14px;
	color: #FFF;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,0.2);
}

section.mining .content a.mine:hover {
	transition: background 0.3s ease-in-out;
	background: rgba(255,255,255,0.2);
}

section.mining .content .icon-live {
	position: absolute;
	z-index: 2;
	left: calc(50% - 111px);
	bottom: -111px;
	display: block;
	width: 222px;
	height: 222px;
	background: url('../img/icon-ante.svg') no-repeat;
	background-size: 100%;
	animation: ante-rotate 6s linear infinite;
}

section.m-live .content .icon-live {
	background: url('../img/icon-live.svg') no-repeat;
	background-size: 100%;
}

@-webkit-keyframes ante-rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes ante-rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

section.mining .content .pulse1,
section.mining .content .pulse2,
section.mining .content .pulse3 {
	position: absolute;
	z-index: 1;
	display: block;
	background: rgba(255,255,255,0.2);
	border-radius: 50%;
	animation: pulse1 6s linear infinite;
	left: calc(50% - 110px);
	bottom: -110px;
	width: 220px;
	height: 220px;
}

section.mining .content .pulse2 {
	animation-delay: 2s;
}

section.mining .content .pulse3 {
	animation-delay: 4s;
}

@-webkit-keyframes pulse1 {
	from {left: calc(50% - 110px); bottom: -110px; width: 220px; height: 220px; background: rgba(255,255,255,0.2);}
	to {left: calc(50% - 300px); bottom: -300px; width: 600px; height: 600px; background: rgba(255,255,255,0);}
}

@keyframes pulse1 {
	from {left: calc(50% - 110px); bottom: -110px; width: 220px; height: 220px; background: rgba(255,255,255,0.2);}
	to {left: calc(50% - 300px); bottom: -300px; width: 600px; height: 600px; background: rgba(255,255,255,0);}
}

section.mining .content .icon-live-fly1,
section.mining .content .icon-live-fly2,
section.mining .content .icon-live-fly3,
section.mining .content .icon-live-fly4 {
	position: absolute;
	z-index: 1;
	display: block;
	bottom: -40px;
	opacity: 0.2;
	background: url('../img/icon-ante.svg') no-repeat;
	background-size: 100%;
	animation: icon-fly 12s linear infinite;
	width: 30px;
	height: 30px;
}

section.m-live .content .icon-live-fly1,
section.m-live .content .icon-live-fly2,
section.m-live .content .icon-live-fly3,
section.m-live .content .icon-live-fly4 {
	background: url('../img/icon-live.svg') no-repeat;
	background-size: 100%;
}
	
section.mining .content .icon-live-fly1 {
	left: calc(50% - 20px);
	animation-delay: 0s;
}

section.mining .content .icon-live-fly2 {
	left: calc(50% - 120px);
	animation-delay: 4s;
}

section.mining .content .icon-live-fly3 {
	left: calc(50% - 220px);
	animation-delay: 1s;
}

section.mining .content .icon-live-fly4 {
	left: calc(50% + 30px);
	animation-delay: 1s;
}

@-webkit-keyframes icon-fly {
	0% {bottom: -40px; transform: rotate(0deg); opacity: 0.2;}
	100% {bottom: calc(100% + 40px); transform: rotate(360deg); opacity: 0;}
}

@keyframes icon-fly {
	0% {bottom: -40px; transform: rotate(0deg); opacity: 0.2;}
	100% {bottom: calc(100% + 40px); transform: rotate(360deg); opacity: 0;}
}

section .content .row .platform,
section .content .row .current-price,
section .content .row .burnt-ante,
section .content .row .chart,
section .content .row .calculator {
	display: table;
	padding: 15px;
	color: #FFF;
	background: #131722;
	border-radius: 3px;
}

section .content .row .chart {
	height: 380px;
}

section .content .row .platform label,
section .content .row .current-price label,
section .content .row .burnt-ante label,
section .content .row .calculator label {
	display: block;
	width: 100%;
	padding: 0 0 6px 0;
	font-weight: 700;
}

section .content .row .platform a.logo {
	display: block;
	width: 100%;
	height: 48px;
	outline: none;
	background: url(../img/tb-logo.svg) no-repeat center;
	background-size: 180px auto;
}

section .content .row .platform .cc {
	display: block;
	padding: 20px 0 0 0;
	color: #6e717f;
}

section .content .row .platform .cc .amount {
	font-weight: 700;
	color: #1af135;
}

section .content .row .current-price:before {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 1;
	content:'';
	width: 130px;
	height: 130px;
	opacity: 0.25;
	background: url('../img/icon-ante.svg') no-repeat;
	background-size: 260px;
}

section .content .row .current-price .price {
	display: flex;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 90px;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -2px;
	align-items: center;
	justify-content: center;
}

section .content .row .current-price .price i.icon-trx {
	margin: 20px 7px 0 0;
	width: 21px;
	height: 23px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: 21px auto;
}

section .content .row .current-price .total-usd,
section .content .row .current-price .percent {
	position: relative;
	float: left;
	z-index: 2;
	width: 50%;
	height: 22px;
	font-weight: 700;
}

section .content .row .current-price .total-usd {
	padding: 2px 0;
	color: #1af135;
}

section .content .row .current-price .percent {
	display: flex;
	padding: 0;
	justify-content: flex-end;
}

section .content .row .current-price .percent span.up,
section .content .row .current-price .percent span.down {
	min-width: 44px;
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
}

section .content .row .current-price .percent span.up {
	color: #292628;
	background: #1af135;
}

section .content .row .current-price .percent span.down {
	color: #FFF;
	background: #f81f1f;
}

section .content .row .burnt-ante {
	background-image: linear-gradient(#131722, #cb2026);
}

section .content .row .burnt-ante:before {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	content:'';
	display: block;
	width: 100%;
	height: 50px;
	background: url('../img/fire.svg') repeat-x center bottom;
	background-size: auto 50px;
	border-radius: 0 0 3px 3px;
}

section .content .row .burnt-ante .price,
section .content .row .burnt-ante .total-supply,
section .content .row .burnt-ante .percent,
section .content .row .burnt-ante a.log {
	position: relative;
	z-index: 3;
}

section .content .row .burnt-ante a.log {
	position: absolute;
	top: 14px;
	right: 15px;
	display: block;
	min-width: 44px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px dotted #FFF;
}

section .content .row .burnt-ante .total-supply {
	float: left;
	width: 60%;
	padding: 2px 0 0 0;
	color: #ff5858;
}

section .content .row .burnt-ante .total-supply span.amount,
section .content .row .burnt-ante .total-supply span.amount a,
section .content .row .burnt-ante .percent span.amount {
	display: block;
	font-weight: 700;
	font-size: 16px;
	color: #FFF;
}

section .content .row .burnt-ante .percent {
	float: left;
	width: 40%;
	padding: 2px 0 0 0;
	text-align: right;
	color: #ff5858;
}
	
section .content .row .burnt-ante .price {
	display: flex;
	width: 100%;
	height: 90px;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -2px;
	align-items: center;
	justify-content: center;
}

section .sub-nav {
	margin: -15px 0 15px -15px;
	display: block;
	width: calc(100% + 30px);
}

section .sub-nav .btn-group {
	margin: 0 auto;
	width: 100%;
}

.modal .modal-dialog .modal-content .burnt-log {
	position: relative;
	width: 100%;
	padding: 0;
	overflow-y: auto;
	background: #0c0e15;
}

.modal .modal-dialog .modal-content .burnt-log .table-responsive table thead tr th {
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	color: #6e717f;
	font-weight: normal;
	background: #12141f;
}

.modal .modal-dialog .modal-content .burnt-log .table-responsive table tbody tr td {
	border-top: 1px solid #22252e;
	font-size: 14px;
	color: #6e717f;
}

.modal .modal-dialog .modal-content .burnt-log .table-responsive table tbody tr td a {
	display: block;
	width: 60px;
	overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
	color: #0ec629;
	text-decoration: underline;
}

section .content .row .chart .date-range,
section .content .row .trans-history .add .pages {
	display: block;
	margin-bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
}

section .content .row .trans-history .add .pages {
	margin-bottom: 0;
	margin-top: 15px;
}

section .content .row .chart .date-range button,
section .content .row .trans-history .add .pages button {
	min-width: 25px;
	height: 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: #a4a5a4;
	background: #2d303a;
	outline: none;
	cursor: pointer;
	border: none;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

section .content .row .chart .date-range button.active,
section .content .row .trans-history .add .pages button.active {
	color: #000;
	background: #FFF;
}





















/*

section .content .row .calculator:before {
	display: block;
	z-index: 1;
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 155px;
	background-image: linear-gradient(#131722, #0f864c);
	border-radius: 0 0 3px 3px;
}

section .content .row .calculator:after {
	display: block;
	z-index: 2;
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 155px;
	opacity: 0.1;
	background: url('../img/texture-light.svg') repeat center;
	background-size: 76px auto;
	border-radius: 0 0 3px 3px;
}

*/

section .content .row .calculator {
	padding: 0;
}

section .content .row .calculator label,
section .content .row .calculator .btn-group,
section .content .row .calculator .form,
section .content .row .calculator .total {
	position: relative;
	z-index: 3;
	float: left;
}

section .content .row .calculator label {
	width: 60%;
	padding: 17px 0 0 15px;
}

section .content .row .calculator .btn-group {
	display: flex;
	padding: 15px 15px 0 0;
	justify-content: flex-end;
	width: 40%;
}

section .content .row .calculator .btn-group button {
	height: 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: #a4a5a4;
	background: #2d303a;
	outline: none;
	cursor: pointer;
	border: none;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

section .content .row .calculator .btn-group button.active {
	color: #000;
	background: #FFF;
}

section .content .row .calculator .btn-group button:first-child {
	border-radius: 2px 0 0 2px;
}

section .content .row .calculator .btn-group button:last-child {
	border-radius: 0 2px 2px 0;
}









section .content .row .calculator .form {
	display: table;
	width: 100%;
	padding: 0 15px;
}

section .content .row .calculator .form .symbol {
	float: left;
	margin-left: 15px;
	position: relative;
	justify-content: center;
	width: 13px;
	padding: 45px 0 0 0;
}

section .content .row .calculator .form .symbol i.multiply,
section .content .row .calculator .form .symbol i.divide {
	display: block;
	position: relative;
	width: 13px;
	height: 13px;
}

section .content .row .calculator .form .symbol i.multiply:before,
section .content .row .calculator .form .symbol i.multiply:after,
section .content .row .calculator .form .symbol i.divide:before {
	position: absolute;
	left: 5px;
	top: -2px;
	display: block;
	content:'';
	width: 2px;
	height: 17px;
	background: #aeb6bc;
}

section .content .row .calculator .form .symbol i.multiply:before,
section .content .row .calculator .form .symbol i.divide:before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

section .content .row .calculator .form .symbol i.multiply:after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

section .content .row .calculator .form .col {
	margin: 0;
	float: left;
	position: relative;
	width: calc(100% - 28px);
	padding: 6px 0 0 0;
}

section .content .row .calculator .form .col i {
	position: absolute;
	left: 7px;
	top: 43px;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

section .content .row .calculator .form .col i.icon-ante {
	background: url('../img/icon-ante.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .calculator .form .col i.icon-live {
	background: url('../img/icon-live.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .calculator .form .col i.icon-trx {
	width: 16px;
	height: 17px;
	background: url('../img/icon-trx-dark.svg') no-repeat center;
	background-size: 100%;
	border-radius: 0;
}

section .content .row .calculator .form .col span.title {
	display: flex;
	padding: 0 0 0 0;
	width: 100%;
	height: 30px;
	align-items: center;
	line-height: 1.0;
	color: #a4a5a4;
}

section .content .row .calculator .form .col span.input,
section .content .row .calculator .form .col input.input {
	display: flex;
	width: 100%;
	height: 32px;
	padding: 0 0 0 30px;
	align-items: center;
	color: #1d1b1c;
	border: 0;
	line-height: 32px;
	font-size: 16px;
	border-radius: 2px;
	background: #b3b3b3;
	outline: none;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.35);
}

section .content .row .calculator .form .col input.input {
	color: #1d1b1c;
	background: #FFF;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.35);
}

section .content .row .calculator .form .total-divs span.input {
	font-weight: 700;
}

section .content .row .calculator .total {
	margin-top: 15px;
	display: table;
	position: relative;
	width: 100%;
	padding: 0 15px 15px 15px;
	background-image: linear-gradient(#131722, #0f864c);
	border-radius: 0 0 3px 3px;
}

section .content .row .calculator .total:before {
	display: block;
	z-index: 2;
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background: url('../img/texture-light.svg') repeat center;
	background-size: 60px auto;
	border-radius: 0 0 3px 3px;
}

section .content .row .calculator .total label,
section .content .row .calculator .total span.amount,
section .content .row .calculator .total a.invest-btn {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	z-index: 3;
}

section .content .row .calculator .total span.amount {
	position: relative;
	width: 100%;
	padding: 20px 0;
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	letter-spacing: -2px;
}

section .content .row .calculator .total span.amount span.fiat-amount,
section .content .row .calculator .total span.amount i.icon-trx,
section .content .row .calculator .total span.amount span.plus-btt i.icon-btt {
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

section .content .row .calculator .total span.amount span.fiat-amount {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px 4px;
	font-size: 14px;
	color: #FFF;
	letter-spacing: 0;
	background: rgba(0,0,0,0.5);
	border-radius: 2px;
}

section .content .row .calculator .total span.amount i.icon-trx {
	margin: 29px 0 0 0;
	width: 21px;
	height: 23px;
	background: url('../img/icon-trx.svg') no-repeat center;
	background-size: 100%;
	border-radius: 0;
}

section .content .row .calculator .total span.amount span.plus-btt {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -1px;
}

section .content .row .calculator .total span.amount span.plus-btt i.icon-btt {
	margin: -1px 8px 0 0;
	width: 18px;
	height: 18px;
	background: url('../img/btt-logo-light.svg') no-repeat;
	background-size: 18px;
}

section .content .row .calculator .total a.invest-btn {
	width: 100%;
	height: 36px;
	padding-top: 7px;
	text-decoration: none;
	outline: none;
	color: #292628;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	background: #0cc127;
	border-radius: 18px;
}

section .content .row .calculator .total a:active.invest-btn {
	background: #0ecf2b;
}








