@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic-ext,greek');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;}

html, body {
	height: 100%;
	min-width: 320px;
	font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana;
	color: #FFF;
	font-size: 14px;
	background: #0c0e15;
}

a {
	cursor: pointer;
	color: #FFF;
}

header, nav {
	position: fixed;
	width: 100%;
	left: 0;
	display: block;
	background: #12141f;
}

header {
	z-index: 3;
	top: 0;
	padding: 0 15px;
	height: 40px;
}

header .top-nav {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

header .top-nav .row .logo {
	padding: 13px 0 0 0;
}

header .top-nav .row .logo a {
	display: block;
	width: 98px;
	height: 13px;
	background: url('../img/antescan-logo.svg') no-repeat;
	background-size: 98px 13px;
}

header .top-nav .row .wallet {
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

header .top-nav .row .wallet span.address {
	display: block;
	padding: 11px 5px 0 0;
	font-size: 13px;
	color: #6e717f;
}

header .top-nav .row .wallet button.burger {
	display: block;
	margin-right: -10px;
	position: relative;
	width: 40px;
	height: 40px;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
}
	
header .top-nav .row .wallet button.burger i.bar,
header .top-nav .row .wallet button.burger i.bar:before,
header .top-nav .row .wallet button.burger i.bar:after	{
	position: absolute;
	display: block;
	width: 19px;
	height: 2px;
	content:'';
	background: rgba(255,255,255,1);
}
	
header .top-nav .row .wallet button.burger i.bar {
	top: 19px;
	left: 10px;
}
	
header .top-nav .row .wallet button.burger.expand i.bar {
	background: rgba(255,255,255,0);
	transition: background 0.3s ease-in-out;
}
	
header .top-nav .row .wallet button.burger i.bar:before {
	top: -6px;
}
	
header .top-nav .row .wallet button.burger i.bar:after {
	top: 6px;
}
	
header .top-nav .row .wallet button.burger.expand i.bar:before {
	top: 0;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out;
}
	
header .top-nav .row .wallet button.burger.expand i.bar:after {
	top: 0;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in-out;
}

header .top-nav .row .wallet ul.sub-nav {
	display: none;
}

nav {
	z-index: 2;
	bottom: 0;
	height: 70px;
}

nav .navigation {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

nav .navigation .row .col-12 {
	position: relative;
	padding: 0;
}

nav .navigation .row .col-12 a.add-btn {
	position: absolute;
	z-index: 2;
	top: -26px;
	left: calc(50% - 18px);
	width: 36px;
	height: 36px;
	text-decoration: none;
	outline: none;
	background: #0cc127;
	border-radius: 50%;
}

nav .navigation .row .col-12 a:active.add-btn {
	background: #0ecf2b;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus {
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:before,
nav .navigation .row .col-12 a.add-btn i.icon-plus:after {
	position: absolute;
	content:'';
	display: block;
	background: #FFF;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:before {
	left: 0;
	top: 9px;
	width: 20px;
	height: 2px;
}

nav .navigation .row .col-12 a.add-btn i.icon-plus:after {
	left: 9px;
	top: 0;
	width: 2px;
	height: 20px;
}

nav .navigation .row .col-12 ul {
	margin: 0;
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	list-style-type: none;
}

nav .navigation .row .col-12 ul li {
	width: 16.66%;
}

nav .navigation .row .col-12 ul li a {
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
	padding-top: 44px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	outline: none;
	color: #6e717f;
}

nav .navigation .row .col-12 ul li a:hover,
nav .navigation .row .col-12 ul li a.active {
	color: #FFF;
	transition: color 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a span.notification {
	position: absolute;
	left: calc(50% + 6px);
	top: 6px;
	display: block;
	width: 16px;
	height: 16px;
	background: #f81f1f;
	border-radius: 50%;
}

nav .navigation .row .col-12 ul li a span.notification span.amount {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 16px;
	height: 16px;
	padding: 3px 0 0 0;
	color: #FFF;
	text-align: center;
	line-height: 1;
	font-size: 10px;
}

nav .navigation .row .col-12 ul li a i {
	position: absolute;
	left: calc(50% - 12px);
	top: 14px;
	display: block;
	width: 24px;
	height: 24px;
}

nav .navigation .row .col-12 ul li a i.icon-home {
	background: url('../img/icon-home.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-home,
nav .navigation .row .col-12 ul li a:hover i.icon-home {
	background: url('../img/icon-home-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a i.icon-divs {
	background: url('../img/icon-wallet.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-divs,
nav .navigation .row .col-12 ul li a:hover i.icon-divs {
	background: url('../img/icon-wallet-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a i.icon-goals {
	background: url('../img/icon-award.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-goals,
nav .navigation .row .col-12 ul li a:hover i.icon-goals {
	background: url('../img/icon-award-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a i.icon-mining {
	background: url('../img/icon-coins.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-mining,
nav .navigation .row .col-12 ul li a:hover i.icon-mining {
	background: url('../img/icon-coins-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a i.icon-platform {
	background: url('../img/icon-analytics.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-platform,
nav .navigation .row .col-12 ul li a:hover i.icon-platform {
	background: url('../img/icon-analytics-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

nav .navigation .row .col-12 ul li a i.icon-news {
	background: url('../img/icon-news.svg') no-repeat center;
	background-size: 24px;
}

nav .navigation .row .col-12 ul li a.active i.icon-news,
nav .navigation .row .col-12 ul li a:hover i.icon-news {
	background: url('../img/icon-news-white.svg') no-repeat center;
	background-size: 24px;
	transition: background 0.3s ease-in-out;
}

section {
	padding: 55px 15px 85px 15px;
}

section .content {
	margin: 0 auto;
	max-width: 576px;
	min-width: 320px;
}

section .content .row {
	padding-bottom: 15px;
}

section .content .row .net-worth,
section .content .row .earnings {
	position: relative;
	display: table;
	padding: 10px 15px;
	border-radius: 3px;
}

section .content .row .net-worth {
	background-image: -webkit-gradient(linear,center top,center bottom,from(#131722),to(#0f864c));
    background-image: -webkit-linear-gradient(#131722,#0f864c);
    background-image: linear-gradient(#131722,#0f864c);
}

section .content .row .net-worth:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	content:'';
	width: 100%;
	height: 100%;
	background: url('../img/texture-light.svg') repeat 50%;
    background-size: 60px auto;
	border-radius: 3;
	opacity: 0.1;
}

section .content .row .net-worth span.info {
	position: absolute;
    z-index: 4;
    top: 15px;
    right: 10px;
    display: block;
    width: 16px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
	line-height: 1;
    color: #333;
    font-weight: 700;
    font-family: Times New Roman;
    font-style: italic;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: #FFF;
}

section .content .row .net-worth span.amount,
section .content .row .net-worth span.total-usd,
section .content .row .net-worth span.percent {
	position: relative;
	float: left;
	z-index: 2;
}

section .content .row .net-worth span.amount {
	width: 100%;
	padding: 13px 0 18px 0;
	text-align: center;
	font-size: 42px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
}

section .content .row .net-worth span.amount i.icon-trx {
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin: 18px 3px 0 0;
	width: 16px;
	height: 17px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .net-worth span.total-usd,
section .content .row .net-worth span.percent {
	width: 50%;
	padding: 0 0 4px 0;
	font-weight: 600;
	font-size: 14px;
}

section .content .row .net-worth span.total-usd {
	color: #1af135;
}

section .content .row .net-worth span.percent span.up,
section .content .row .net-worth span.percent span.down {
	display: block;
	float: right;
	height: 21px;
	min-width: 44px;
	padding: 0 4px;
	text-align: center;
	border-radius: 2px;
}

section .content .row .net-worth span.percent span.up {
	color: #292628;
	background: #1af135;
}

section .content .row .net-worth span.percent span.down {
	color: #FFF;
	background: #f81f1f;
}

section .content .row .earnings {
	min-height: 70px;
	background-image: -webkit-gradient(linear,center top,center bottom,from(#131722),to(#1e2235));
    background-image: -webkit-linear-gradient(#131722,#1e2235);
    background-image: linear-gradient(#131722,#1e2235);
}

section .content .row .earnings:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	content:'';
	width: 100%;
	height: 100%;
	background: url('../img/icon-trx.svg') no-repeat right -34px;
    background-size: 240px auto;
	border-radius: 3;
	opacity: 0.05;
}

section .content .row .net-worth label,
section .content .row .earnings label {
	position: relative;
	float: left;
	z-index: 2;
	width: 100%;
	padding: 0;
	color: #FFF;
	font-weight: 600;
	font-size: 14px;
}

section .content .row .earnings label {
	color: #5c5e6c;
}

section .content .row .earnings span.amount {
	position: relative;
	float: left;
	z-index: 2;
	width: 50%;
	padding: 4px 0 0 20px;
	color: #FFF;
	font-weight: 600;
	font-size: 16px;
}

section .content .row .earnings span.amount i.icon-trx {
	position: absolute;
	left: 0;
	top: 6px;
	width: 16px;
	height: 17px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .earnings span.amount i.icon-btt {
	position: absolute;
	left: 0;
	top: 7px;
	width: 16px;
	height: 16px;
	background: url('../img/btt-logo-light.svg') no-repeat;
	background-size: 16px auto;
}

section .content .row .holdings {
	padding: 5px 0 0 0;
}

section .content .row .holdings .heading {
	display: table;
	width: 100%;
	padding: 6px 0;
	border-bottom: 1px solid #12141f;
}

section .content .row .holdings .heading label {
	float: left;
	text-transform: uppercase;
	color: #424553;
	font-size: 12px;
}

section .content .row .holdings .heading label.coin,
section .content .row .holdings .coin-row .coin {
	width: 25%;
}

section .content .row .holdings .heading label.price,
section .content .row .holdings .coin-row .coin-price {
	width: 25%;
}

section .content .row .holdings .heading label.hold,
section .content .row .holdings .coin-row .coin-holdings {
	width: 50%;
}

section .content .row .holdings .coin-row {
	display: table;
	width: 100%;
	border-bottom: 1px solid #12141f;
}

section .content .row .holdings .coin-row .coin,
section .content .row .holdings .coin-row .coin-price,
section .content .row .holdings .coin-row .coin-holdings {
	display: block;
	float: left;
}

section .content .row .holdings .coin-row .coin {
	position: relative;
	padding: 14px 0 14px 30px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

section .content .row .holdings .coin-row .coin i {
	position: absolute;
	left: 0;
	top: 16px;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

section .content .row .holdings .coin-row .coin i.icon-ante {
	background: url('../img/icon-ante.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .holdings .coin-row .coin i.icon-live {
	background: url('../img/icon-live.svg') no-repeat center;
	background-size: 100%;
}

section .content .row .holdings .coin-row .coin-price,
section .content .row .holdings .coin-row .coin-holdings {
	position: relative;
	padding: 10px 0 0 0;
}

section .content .row .holdings .coin-row .coin-price .price,
section .content .row .holdings .coin-row .coin-holdings .price {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	line-height: 1;
}

section .content .row .holdings .coin-row .coin-price .price i.icon-trx,
section .content .row .holdings .coin-row .coin-holdings .price i.icon-trx {
	position: absolute;
	left: 0;
	top: 1px;
	display: block;
	width: 9px;
	height: 10px;
	background: url('../img/icon-trx.svg') no-repeat;
	background-size: auto 10px;
}

section .content .row .holdings .coin-row .coin-price .percent {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	font-size: 12px;
}

section .content .row .holdings .only-price .coin-price .price,
section .content .row .holdings .only-price .coin-price .percent,
section .content .row .holdings .only-price .coin-holdings .price {
	display: none;
}

section .content .row .holdings .coin-row .coin-holdings .amount {
	position: relative;
	display: block;
	padding: 0 0 0 15px;
	font-size: 12px;
	color: #6e717f;
}

section .content .row .holdings .only-price .coin-holdings .amount {
	padding-top: 6px;
}

section .content .row .holdings .coin-row .coin-price .percent.up {
	color: #1af135;
}

section .content .row .holdings .coin-row .coin-price .percent.up:before,
section .content .row .holdings .coin-row .coin-price .percent.down:before {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 0;
	height: 0;
	content:'';
}

section .content .row .holdings .coin-row .coin-price .percent.up:before {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #1af135;
}

section .content .row .holdings .coin-row .coin-price .percent.down:before {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #f81f1f;
}

section .content .row .holdings .coin-row .coin-price .percent.down {
	color: #f81f1f;
}

section .content .row .holdings .coin-row .coin-holdings {
	position: relative;
}

section .content .row .holdings .coin-row .coin-holdings button.add-btn {
	position: absolute;
	top: 11px;
	right: 0;
	display: block;
	width: 41px;
	height: 26px;
	padding: 0;
	text-align: center;
	font-size: 12px;
	color: #6e717f;
	outline: none;
	cursor: pointer;
	background: transparent;
	border: 1px solid #393c48;
	border-radius: 3px;
}

section .content .row .holdings .coin-row .coin-holdings button:active.add-btn {
	color: #6e717f;
	background: #393c48;
	transition: all 0.3s ease-in-out;
}

section.twitter-widget {
	margin: 0 auto;
	max-width: 576px;
	min-height: 100%;
	padding: 40px 5px 70px 5px;
	background: #292f33;
}

.tooltip .tooltip-inner {
	width: 160px;
	padding: 6px 10px;
	text-align: center;
	font-size: 13px;
	line-height: 1.1;
	font-style: normal;
	font-weight: normal;
	cursor: default;
	color: #333;
	font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana;
	background: #FFF;
	border-radius: 3px;
}

.tooltip .arrow:before {
	border-left-color: #FFF;
}


.modal .modal-dialog {
	margin: 0 auto;
	max-width: 576px;
	height: 100%;
	border: none;
	border-radius: 0;
	background: #0c0e15;
}

.modal .modal-dialog .modal-content {
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header {
	padding: 0;
	background: #12141f;
	border: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
	display: flex;
	width: 100%;
	height: 40px;
	padding: 0 0 0 0;
	align-items: center;
	font-size: 15px;
	justify-content: center;
}

.modal .modal-dialog .modal-content .modal-header button.close {
	position: absolute;
	right: 10px;
	top: 8px;
	margin: 0;
	padding: 0;
	display: flex;
	width: 24px;
	height: 24px;
	opacity: 1;
	outline: none;
}

.modal .modal-dialog .modal-content .modal-header button.close:before,
.modal .modal-dialog .modal-content .modal-header button.close:after {
	position: absolute;
	top: 3px;
	left: 10px;
	display: block;
	width: 2px;
	height: 17px;
	content: '';
	background: #FFF;
}

.modal .modal-dialog .modal-content .modal-header button.close:before {
	transform: rotate(45deg);
}

.modal .modal-dialog .modal-content .modal-header button.close:after {
	transform: rotate(-45deg);
}

.modal .modal-dialog .modal-content .modal-body {
	position: relative;
	width: 100%;
	padding: 8px 15px 85px 15px;
	overflow-y: auto;
	background: #0c0e15;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row {
	padding: 7px 0 5px 0;
	border-bottom: 1px solid #12141f;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row label,
.modal .modal-dialog .modal-content .modal-body .form .form-row span.error-message,
.modal .modal-dialog .modal-content .modal-body .form .form-row input,
.modal .modal-dialog .modal-content .modal-body .form .form-row select {
	display: block;
	width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row label {
	font-size: 12px;
	color: #424553;
	text-transform: uppercase;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row .btn-group {
	margin: 0 auto 15px auto;
	width: 60%;
	align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row .btn-group .btn {
	height: 36px;
	padding-top: 7px;
	font-size: 14px;
	text-transform: uppercase;
	color: #a4a5a4;
	outline: none;
	box-shadow: none;
	background: #2d303a;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row .btn-group .active {
	color: #131722;
	background: #FFF;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row .btn-group .btn:first-child {
	border-radius: 18px 0 0 18px;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row .btn-group .btn:last-child {
	border-radius: 0 18px 18px 0;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row span.error-message {
	display: none;
	color: #f81f1f;
	font-size: 12px;
}

.modal .modal-dialog .modal-content .modal-body .form .error span.error-message {
	display: block;
}

.modal .modal-dialog .modal-content .modal-body .form .form-row select.form-control,
.modal .modal-dialog .modal-content .modal-body .form .form-row input.input {
	height: 30px;
	padding: 0;
	font-size: 14px;
	color: #FFF;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: center;
	background: #12141f;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav button.submit-btn {
	width: 60%;
	height: 36px;
	text-decoration: none;
	outline: none;
	color: #292628;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	background: #0cc127;
	border-radius: 18px;
	border: none;
}

.modal .modal-dialog .modal-content .modal-body .submit-nav button:active.submit-btn {
	background: #0ecf2b;
}

section.mining {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	padding: 0;
	overflow: hidden;
	height: calc(100% - 110px);
	align-items: center;
	background-image: radial-gradient(circle at bottom center, #12a05b, #131722);
}

section.m-live {
	background-image: radial-gradient(circle at bottom center, #db2c2c, #131722);
}

section.mining .content {
	position: relative;
	z-index: 3;
	margin: 0 auto;
	max-width: 576px;
	padding: 15px 15px 0 15px;
}

section.mining .content .btn-group {
	margin: 0 auto;
	display: flex;
	width: 60%;
	align-items: center;
}

section.mining .content .btn-group .btn {
	height: 36px;
	padding-top: 7px;
	font-size: 14px;
	text-transform: uppercase;
	color: #a4a5a4;
	outline: none;
	box-shadow: none;
	background: rgba(18,20,31,0.9);
}

section.mining .content .btn-group .btn:first-child {
	color: #FFF;
	background: rgba(12,193,39,0.9);
}

section.m-live .content .btn-group .btn:first-child {
	color: #a4a5a4;
	background: rgba(18,20,31,0.9);
}

section.m-live .content .btn-group .btn:last-child {
	color: #FFF;
	background: rgba(248,31,31,0.8);
}

section.mining .content .btn-group .btn:first-child {
	border-radius: 18px 0 0 18px;
}

section.mining .content .btn-group .btn:last-child {
	border-radius: 0 18px 18px 0;
}

section.mining .content .mined-info {
	display: table;
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
}

section.mining .content .mined-info span.col {
	width: 33.33%;
	float: left;
	color: #0cc127;
	padding: 14px 0 0 0;
}

section.m-live .content .mined-info span.col {
	color: #ff3131;
}

section.mining .content .mined-info span.col label {
	display: block;
	font-weight: 600;
	color: #FFF;
}

section.mining .content .mined-info span.col:nth-child(2) {
	text-align: center;
}


section.mining .content .mined-info span.col:last-child {
	text-align: right;
}

section.mining .content h1,
section.mining .content span.countdown,
section.mining .content span.speed {
	display: block;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section.mining .content h1 {
	padding: 5px 0;
	font-size: 24px;
}

section.mining .content span.countdown {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

section.mining .content span.countdown span.group {
	padding: 0 5px;
	font-size: 36px;
}

section.mining .content span.countdown span.group span.sub {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
}

section.mining .content span.speed {
	padding: 10px 0;
	font-size: 14px;
	color: #000;
}

section.mining .content span.speed span.amount {
	color: #0cc127;
	font-weight: 600;
}

section.m-live .content span.speed span.amount {
	color: #ff3131;
}

section.mining .content a.mine {
	margin: 0 auto;
	display: flex;
	width: 40%;
	height: 36px;
	font-size: 14px;
	color: #FFF;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,0.2);
}

section.mining .content a.mine:hover {
	transition: background 0.3s ease-in-out;
	background: rgba(255,255,255,0.2);
}

section.mining .icon-live {
	position: absolute;
	z-index: 2;
	left: calc(50% - 111px);
	bottom: -111px;
	display: block;
	width: 222px;
	height: 222px;
	background: url('../img/icon-ante.svg') no-repeat;
	background-size: 100%;
	animation: ante-rotate 6s linear infinite;
}

section.m-live .icon-live {
	background: url('../img/icon-live.svg') no-repeat;
	background-size: 100%;
}

@-webkit-keyframes ante-rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes ante-rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

section.mining .pulse1,
section.mining .pulse2,
section.mining .pulse3 {
	position: absolute;
	z-index: 1;
	display: block;
	background: rgba(255,255,255,0.2);
	border-radius: 50%;
	animation: pulse1 6s linear infinite;
	left: calc(50% - 110px);
	bottom: -110px;
	width: 220px;
	height: 220px;
}

section.mining .pulse2 {
	animation-delay: 2s;
}

section.mining .pulse3 {
	animation-delay: 4s;
}

@-webkit-keyframes pulse1 {
	from {left: calc(50% - 110px); bottom: -110px; width: 220px; height: 220px; background: rgba(255,255,255,0.2);}
	to {left: calc(50% - 300px); bottom: -300px; width: 600px; height: 600px; background: rgba(255,255,255,0);}
}

@keyframes pulse1 {
	from {left: calc(50% - 110px); bottom: -110px; width: 220px; height: 220px; background: rgba(255,255,255,0.2);}
	to {left: calc(50% - 300px); bottom: -300px; width: 600px; height: 600px; background: rgba(255,255,255,0);}
}

section.mining .icon-live-fly1,
section.mining .icon-live-fly2,
section.mining .icon-live-fly3,
section.mining .icon-live-fly4 {
	position: absolute;
	z-index: 1;
	display: block;
	bottom: -40px;
	opacity: 0.2;
	background: url('../img/icon-ante.svg') no-repeat;
	background-size: 100%;
	animation: icon-fly 12s linear infinite;
	width: 30px;
	height: 30px;
}

section.m-live .icon-live-fly1,
section.m-live .icon-live-fly2,
section.m-live .icon-live-fly3,
section.m-live .icon-live-fly4 {
	background: url('../img/icon-live.svg') no-repeat;
	background-size: 100%;
}
	
section.mining .icon-live-fly1 {
	left: calc(50% - 20px);
	animation-delay: 0s;
}

section.mining .icon-live-fly2 {
	left: calc(50% - 120px);
	animation-delay: 4s;
}

section.mining .icon-live-fly3 {
	left: calc(50% - 220px);
	animation-delay: 1s;
}

section.mining .icon-live-fly4 {
	left: calc(50% + 30px);
	animation-delay: 1s;
}

@-webkit-keyframes icon-fly {
	0% {bottom: -40px; transform: rotate(0deg); opacity: 0.2;}
	100% {bottom: calc(100% + 40px); transform: rotate(360deg); opacity: 0;}
}

@keyframes icon-fly {
	0% {bottom: -40px; transform: rotate(0deg); opacity: 0.2;}
	100% {bottom: calc(100% + 40px); transform: rotate(360deg); opacity: 0;}
}



















